html {
  background: grey;
  color: #FFFFFF;
  font-family: Helvetica, sans-serif;
}
div {
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: inherit;
}
p {
  max-width: 300px;
  text-align: center;
}
h1 {
text-align: center;
font-weight: bolder;
}
h2 {
  text-align: center;
  font-weight: bold;
}
h3 {
  text-align: center;
}
footer {
  text-align: center;

}

.title {
  font-weight: bold;
  font-size:
}
